@media screen and (min-width: 1000px) {
    textarea {
        width: 98%;
        max-width: 98%;
        min-width: 98%;
        height: 50vh;
        max-height: 100vh;
        min-height: 40vh;
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
    .btnSalvar {
        color: white;
        width: 15%;
        background-color: #35C0ED;
        margin-left: 33%;
    }
    .btnExcluir {
        color: white;
        width: 15%;
        background-color: red;
        margin-right: 33%;
    }
    .btnSalvarSair {
        color: white;
        background-color: #35C0ED;
        width: 30%;
        margin: 8px;
    }
}

@media screen and (max-width: 1000px) {
    textarea {
        width: 91%;
        max-width: 91%;
        min-width: 91%;
        height: 35vh;
        max-height: 100vh;
        min-height: 25vh;
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
    .btnSalvar {
        color: white;
        width: 48%;
        background-color: #35C0ED;
    }
    .btnExcluir {
        color: white;
        width: 48%;
        background-color: red;
    }
    .btnSalvarSair {
        color: white;
        background-color: #35C0ED;
        width: 100%;
        margin: 10px;
    }
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 10px;
    width: 100%;
    font-size: x-large;
}

input:focus {
    outline: none;
    box-shadow: none;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.header {
    display: flex;
}

#mdiv {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: #35C0ED;
    transform: rotate(45deg);
    Z-index: 1;
}

.md {
    height: 25px;
    width: 2px;
    background-color: #35C0ED;
    transform: rotate(90deg);
    Z-index: 2;
}