.form {
    margin-top: 5%;
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;
}

.icon{
    size: 50px;
    margin-bottom: 2%;
    height: 10vh;
    width: 23%;
}

.item {
    width: 80%;
    margin-bottom: 2%;
    font-size: medium;
    height: 35px;
    border-radius: 5px;
}

.button {
    margin-top: 1%;
    font-size: medium;
    height: 40px;
    font-size: medium;
    width: 80%;
    color: #35C0ED;
    border-color: #35C0ED;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}