<div class="formTitulo">
    <span class="titulo">Alteração dos Dados Pessoais:</span>
</div>
<div class="form">

    <input placeholder="E-mail" type="email" /><br>
    <input placeholder="Apelido" type="text" /><br><br>

    <input placeholder="Senha" type="password" title="Informe sua senha atual para salvar suas alterações!" /><br>
    <input class="button" type="button" value="Salvar Alterações"
        title="Informe sua senha atual para salvar suas alterações!" />


    <p class="mensagem">{{mensagem}}</p>

</div>