@media screen and (max-width: 1000px) {
    .form {
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: auto;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .form {
        margin-top: 1%;
        margin-left: 35%;
        margin-right: 35%;
        width: 30%;
        height: auto;
        text-align: center;
    }
}



.formTitulo {
    text-align: center;
    margin-top: 2%;
}

.titulo {
    font-size: x-large;
}

input {
    width: 96%;
    border: 0px;
    background-color: #ccc8;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3%;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 3%;
}

.button {
    width: 100%;
    border: 0px;
    cursor: pointer;
    background-color: #35C0ED;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3%;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 3%;
}

.mensagem {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff0000;
    margin-bottom: 2%;
}

.link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #35C0ED;
    cursor: pointer;
}

input:focus {
    outline: none;
    box-shadow: none;
}