<img class="fab" src="../../../assets/imagens/add-icon.png" [routerLink]="['/home/criar-nota']" />

<div class="div-searchNotas">
  <input class="searchNotas" type="search" placeholder="Buscar Nota por Título" (input)="PesquisarNota()" [(ngModel)]="txtPesquisa" name="txtPesquisa" />
</div>

<div class="content">
  <div class="card" *ngFor="let nota of notas">
    <!--CONTEUDO DAS NOTAS-->
    <div id="divContent">
      <span class="titulo" (click)="openDialog(nota)">{{nota.titulo}}</span>
      <br>
      <textarea readonly class="nota">{{nota.nota}}</textarea>
    </div>
    <!--CHECKBOX-->
    <div class="divCheck">
      <input type="checkbox" checked="{{nota.publica}}" id="{{nota._id.$oid}}" style="margin-top: 10%;" (change)="AtualizarPrivacidade(nota, $event)"/>
      <label for="{{nota._id.$oid}}" class="checkText">Nota Pública</label>
    </div>
    <!--BUTTONS-->
    <div class="divButtons">
      <button mat-button (click)="openDialog(nota)" style="color: #1976d2;">Editar</button>
      <button mat-button (click)="Visualizar(nota)" style="color: #1976d2;">Visualizar</button>
    </div>
  </div>

</div>