@media screen and (min-width: 1000px) {
    
    .form {
        margin-top: 5%;
        margin-right: 40%;
        margin-left: 40%;
        text-align: center;
    }

    .titulo {
        font-weight: 540;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: x-large;
        margin-bottom: 8%;
    }

}

@media screen and (max-width: 1000px) {

    .form {
        margin-top: 3%;
        margin-right: 3%;
        margin-left: 3%;
        text-align: center;
    }

    .titulo {
        font-weight: 540;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: x-large;
        margin-bottom: 5%;
    }

}



.item {
    width: 99%;
    border: 0px;
    background-color: #ccc8;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1%;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 3%;
}

.button {
    width: 100%;
    border: 0px;
    background-color: #35C0ED;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 2%;
    font-weight: 550;
    cursor: pointer;
}

.mensagem {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff0000;
    margin-bottom: 2%;
}

.link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #35C0ED;
    cursor: pointer;
}