@media screen and (min-width: 1000px) {
    .form {
        margin-top: 1%;
        margin-right: 25%;
        margin-left: 25%;
        text-align: center;
    }
    input {
        width: 90%;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        border-top: 0cm;
        border-right: 0cm;
        border-left: 0cm;
    }
    textarea {
        width: 100%;
        height: 50vh;
        padding: 10px;
        max-width: 100%;
        min-width: 90%;
        max-height: 100vh;
        min-height: 30vh;
        margin-bottom: 20px;
    }
    .fab{
        width: 100%;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    button {
        width: 100%;
        margin-bottom: 0px;
        background-color: #35C0ED;
        border:none;
        color: white;
        font-size: large;
        padding: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1000px) {
    .form {
        margin-top: 20%;
        margin-right: 3%;
        margin-left: 3%;
        text-align: center;
    }
    input {
        width: 85%;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
        border-top: 0cm;
        border-right: 0cm;
        border-left: 0cm;
    }
    textarea {
        width: 85%;
        height: 40vh;
        padding: 10px;
        max-width: 85%;
        min-width: 80%;
        max-height: 70vh;
        min-height: 20vh;
    }
    .fab {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    button {
        width: 100%;
        height: 5vh;
        background-color: #35C0ED;
        border:none;
        color: white;
        padding: 8px;
    }
}

input:focus {
    outline: none;
    box-shadow: none;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}