@media screen and (max-width: 1000px) {
    .fab {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
    }
    .div-searchLembretes {
        align-items: center;
        width: 80%;
        margin-top: 1%;
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .content {
        margin-top: 1%;
        margin-left: 8%;
        width: 76%;
        margin-right: 16%;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        background-color: whitesmoke;
        margin-left: 3%;
        margin-bottom: 3%;
        width: 90%;
        padding: 2%
    }
    .btn-card {
        margin-top: 5%;
        float: right;
    }
}

@media screen and (min-width: 1000px) {
    .fab {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: fixed;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
    }
    .div-searchLembretes {
        align-items: center;
        width: 30%;
        margin-top: 1%;
        margin-left: 35%;
        margin-right: 35%;
    }
    .content {
        margin-top: 2%;
        margin-left: 16%;
        width: 68%;
        margin-right: 16%;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        background-color: whitesmoke;
        margin-left: 3%;
        margin-bottom: 3%;
        width: 25%;
        padding: 2%
    }
    .btn-card {
        margin-top: 5%;
        float: right;
    }
}

.titulo {
    font-weight: 500;
    color: #1976d2;
    cursor: pointer;
}

.searchLembretes {
    width: 100%;
    padding: 20px 20px 10px 10px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

img:focus {
    outline: none;
    box-shadow: none;
}