<img class="fab" src="../../../assets/imagens/add-icon-azul.png" [routerLink]="['/home/criar-lembrete']" />


<div class="div-searchLembretes">
    <input class="searchLembretes" type="search" placeholder="Buscar Lembrete por Título" (input)="PesquisarLembretes()"
        [(ngModel)]="txtPesquisa" name="txtPesquisa" />
</div>

<div class="content">
    <div class="card" *ngFor="let lembrete of lembretes">
        <span class="titulo" [routerLink]="['/home/editar-lembrete',lembrete._id.$oid]">{{lembrete.titulo}}</span><br>
        <div class="btn-card">
            <button mat-button (click)="Excluir(lembrete)" style="color: red; border: 1px solid red">Excluir</button>
        </div>
    </div>
</div>